.main-newword{
    align-items: center;
    background: url("../images/background-forca2.png") no-repeat;
    background-size: cover;
    background-position: center left;
    display: flex;
    flex-direction: column;
}
.button-area-newword{    
    display: flex;
    justify-content: space-around;
    margin: 0 auto 2rem;
    width: 55%;
}

#textarea{
    background: var(--cinza);
    border: 3px solid var(--violeta);
    color: var(--violeta);
    display: block;
    font-family:'Press Start 2P', cursive;
    font-size: 0.7rem;
    height: 350px;
    margin: 10px auto 10px;
    padding: 10px 0 0 10px;
    resize: none;
    width: 800px;
}

#info{
    display: block;
    font-family: sans-serif;
    font-size: 0.6rem;
    margin: 0 auto auto;    
}